@media print {
  .container {
    width: auto;
  }
}
/* Template-specific stuff
 *
 * Customizations just for the template; these are not necessary for anything
 * with disabling the responsiveness.
 */
/* Account for fixed navbar */
body {
  min-width: 1060px;
}

/* Don't let the lead text change font-size. */
.lead {
  font-size: 16px;
}

/* Finesse the page header spacing */
.page-header {
  margin-bottom: 30px;
}

.page-header .lead {
  margin-bottom: 10px;
}

/* Non-responsive overrides
 *
 * Utilitze the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */
/* Reset the container */
.container {
  width: 1060px;
  max-width: none !important;
}

/* disable navbar margins */
.container .navbar-header,
.container .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}

/* Always float the navbar header */
.navbar-header {
  float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}

.navbar-toggle {
  display: none;
}

.navbar-collapse {
  border-top: 0;
}

.navbar-brand {
  margin-left: -15px;
}

/* Always apply the floated nav */
.navbar-nav {
  float: left;
  margin: 0;
}

.navbar-nav > li {
  float: left;
}

.navbar-nav > li > a {
  padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right;
}

/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #333;
}

.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #428bca !important;
}

.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}

/* disable scroll padding right on modal and put modal on other elements upper*/
.modal-open {
  padding-right: 0 !important;
}

.modal {
  z-index: 999;
  padding-right: 0 !important;
}

.modal-dialog {
  width: 970px;
}

/* disable default bootstrap form input box shadow on focus */
.form-control:focus {
  box-shadow: none !important;
}

.form-group {
  margin-bottom: 0;
}

.modal-content {
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.modal-content .feedback_form_wrapper {
  background: rgba(255, 255, 255, 0.9) !important;
  height: 430px !important;
}

.modal-content .feedback_form_wrapper__form___input {
  border: 1px solid #ccc;
}

button.close {
  margin-right: 10px;
  margin-top: -5px;
  font-size: 65px;
}

/*
* Basic styles
*/
* {
  outline: none !important;
}

html, body {
  background-color: #fff;
  font-family: 'BravoSC', monospace;
}

/* nicescroll */
#ascrail2000, #ascrail2000-hr {
  z-index: 999 !important;
}

#ascrail2000.nicescroll-rails {
  width: 10px !important;
  background-color: #9BD0B5 !important;
  background-color: rgba(155, 208, 181, 0.3) !important;
}

#ascrail2000-hr.nicescroll-rails {
  height: 10px !important;
  background-color: #9BD0B5 !important;
  background-color: rgba(155, 208, 181, 0.3) !important;
}

#ascrail2000 > div {
  width: 10px !important;
  background: #1DD076 !important;
  border-color: #1DD076 !important;
  border-radius: 3px !important;
  background-clip: padding-box
  /* stops bg color from leaking outside the border: */
}

#ascrail2000-hr > div {
  height: 10px !important;
  background: #1DD076 !important;
  border-color: #1DD076 !important;
  border-radius: 3px !important;
  background-clip: padding-box
  /* stops bg color from leaking outside the border: */
}

/*
* header
*/
.header_phone_icon {
  margin-left: 90px;
  margin-top: 38px;
  width: 90px;
  height: 90px;
  background-image: url(../img/fig1.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-attachment: scroll;
  background-size: 90px 90px;
}
.header_phone {
  margin-left: 33px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000;
  font-family: "BravoSC";
  font-size: 35px;
  line-height: 35px;
  font-weight: 400;
  text-align: center;
}
.header_logo {
  margin: 0 auto -66px;
  width: 534px;
  height: 236px;
  background-image: url(../img/fig2.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-attachment: scroll;
  background-size: 534px 236px;
  position: relative;
  z-index: 10;
}
.header_info {
  position: relative;
  z-index: 15;
  left: 18px;
  top: 3px;
  text-align: center;
  color: #000;
  font-family: "BravoSC";
  font-size: 35px;
  line-height: 40px;
  font-weight: 400;
}
.header_feedback {
  cursor: pointer;
}
.header_feedback__mail_icon {
  position: relative;
  left: 85px;
  margin-top: 38px;
  width: 90px;
  height: 90px;
  background-image: url(../img/fig3.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-attachment: scroll;
  background-size: 90px 90px;
}
.header_feedback__text {
  position: relative;
  left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000;
  font-family: "BravoSC";
  font-size: 35px;
  line-height: 35px;
  font-weight: 400;
  text-align: center;
}

/*
* top_description
*/
.top_description {
  width: 100%;
  height: 489px;
  background-image: url(../img/fig4.jpg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  margin-top: -22px;
}
.top_description p {
  margin-top: 115px;
  color: #FFF;
  font-family: "BravoSC";
  font-size: 29px;
  line-height: 48px;
  font-weight: 400;
}

/*
* advantages
*/
.advantages {
  padding-top: 25px;
}
.advantages_item {
  width: 205px;
  height: 205px;
  margin: 0 auto 25px
  /*overflow: hidden;*/
}
.advantages_item__wrap_img {
  margin-bottom: -75px;
}
.advantages_item__text {
  text-align: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: #FFF;
  font-family: "BravoSC";
  font-size: 21px;
  font-weight: 400;
  height: 75px;
  line-height: 30px;
  position: relative;
  padding-top: 9px;
}
.advantages_item__text._verticat_center {
  line-height: 75px;
  padding-top: 0px;
}

/*
* feedback_form
*/
.feedback_form {
  width: 100%;
  height: 553px;
  background-image: url(../img/fig13.jpg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
}
.feedback_form_wrapper {
  margin: 55px auto 0;
  width: 871px;
  height: 443px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.4);
}
.feedback_form_wrapper__title {
  margin: 10px 0 25px 223px;
  color: #000;
  font-family: "BravoSC";
  font-size: 63px;
  line-height: 63px;
  font-weight: 400;
}
.feedback_form_wrapper__button {
  display: block;
  background-color: #8c27ff;
  border-radius: 15px;
  width: 168px;
  height: 34px;
  margin: 20px auto 0;
  color: #fff;
  font-size: 28px;
  line-height: 24px;
}
.feedback_form_wrapper__button:hover, .feedback_form_wrapper__button:active, .feedback_form_wrapper__button:focus {
  color: #fff;
}
.feedback_form_wrapper__form {
  width: 423px;
  margin: 0 auto;
}
.feedback_form_wrapper__form___input {
  border-radius: 0;
  border: 0;
  text-align: center;
  font-family: "BravoSC";
  height: 45px;
  line-height: 45px;
  color: #777777;
  font-size: 16px;
  letter-spacing: .5px;
  margin-bottom: 30px;
}
.feedback_form_wrapper__form___textarea {
  text-align: center;
  height: 120px;
  max-height: 110px;
  max-width: 100%;
  border-radius: 0;
  border: 0;
  color: #777777;
  overflow-y: auto;
  font-size: 16px;
  letter-spacing: .5px;
  line-height: 24px;
}

/*
* shop_title
*/
.shop_title_wrap {
  margin: 10px auto;
  width: 354px;
  height: 103px;
  background-image: url(../img/fig14.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-attachment: scroll;
  background-size: 354px 103px;
  background-position: 0 0;
}
.shop_title_wrap__text {
  line-height: 103px;
  color: #000;
  font-family: "BravoSC";
  font-size: 106px;
  font-weight: 400;
}

/*
* shop_text
*/
.shop_text {
  width: 100%;
  height: 731px;
  background-image: url(../img/fig15.jpg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
}
.shop_text_top_text {
  margin-top: 60px;
  color: #FFF;
  font-family: "BravoSC";
  font-size: 33px;
  font-weight: 400;
  line-height: 52px;
}
.shop_text_bottom_text {
  color: #FFF;
  font-family: "BravoSC";
  font-size: 29px;
  font-weight: 400;
  line-height: 52px;
  margin-top: 30px;
}

/*
* map
*/
/*
* footer
*/
.footer {
  height: 85px;
}
.footer_copy {
  line-height: 85px;
  margin-left: 25px;
  color: #000;
  font-family: "verdana";
  font-size: 11px;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */