/*
* header
*/

.header {
    &_phone_icon {
        margin-left: 90px;
        margin-top: 38px;
        width: 90px;
        height: 90px;
        background-image: url(../img/fig1.png);
        background-repeat: no-repeat;
        background-color: transparent;
        background-attachment: scroll;
        background-size: 90px 90px;
    }
    &_phone {      
        margin-left: 33px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #000;
        font-family: "BravoSC";
        font-size: 35px;
        line-height: 35px;
        font-weight: 400;
        text-align: center;
    }
    &_logo {
        margin: 0 auto -66px;
        width: 534px;
        height: 236px;
        background-image: url(../img/fig2.png);
        background-repeat: no-repeat;
        background-color: transparent;
        background-attachment: scroll;
        background-size: 534px 236px;
        position: relative;
        z-index: 10;
    }
    &_info {
        position: relative;
        z-index: 15;
        left: 18px;
        top: 3px;
        text-align: center;
        color: #000;
        font-family: "BravoSC";
        font-size: 35px;
        line-height: 40px;
        font-weight: 400;
    }
    &_feedback {
        cursor: pointer;
        &__mail_icon {
            position: relative;
            left: 85px;
            margin-top: 38px;
            width: 90px;
            height: 90px;
            background-image: url(../img/fig3.png);
            background-repeat: no-repeat;
            background-color: transparent;
            background-attachment: scroll;
            background-size: 90px 90px;
        }
        &__text {
            position: relative;
            left: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            color: #000;
            font-family: "BravoSC";
            font-size: 35px;
            line-height: 35px;
            font-weight: 400;
            text-align: center;
        }
    }
}