/*
* top_description
*/

.top_description {    
    width: 100%;
    height: 489px;
    background-image: url(../img/fig4.jpg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    margin-top: -22px;
    & p {        
        margin-top: 115px;
        color: #FFF;
        font-family: "BravoSC";
        font-size: 29px;
        line-height: 48px;
        font-weight: 400;
    }
}